body{
    background-color: rgb(247, 204, 204) ;
    padding: 2em;
}
header{
    text-align: center;
}
fieldset{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: x-large;
    color: darkcyan;
    text-align:center;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkcyan;
    font-size: x-large;
    text-align:center;
}
.products{
    height: 250px;
    width:300px;
}

.Ref{
    width: 180px;
    border-radius: 20px;
}
.TC{
    border-color: red;
    box-shadow: yellow;
    width: 600px;
    border-width: 25px;
}

input[type=radio]{
    border: 10px;
    width: 40px;
    height: 2em;
}

#Pagar{
    border-radius: 25px;
    border-color: rgba(12, 235, 243, 0.795);
    border-width: 15px;
    width: 800px;
}

#Comprar{
    border-radius: 25px;
    border-color: rgba(12, 235, 243, 0.795);
    border-width: 15px;
    width: 800px;
}
