body{
    background-color: rgb(247, 204, 204) ;
    padding: 2em;
}
header{
    text-align: center;
}
fieldset{
    font-family: fantasy;
    font-size: xx-large;
    color: darkcyan;
    columns: 3;
}
footer{
    font-family: fantasy;
    color: darkcyan;
    font-size: x-large;
    text-align:center;
}
input[type=radio]{
    border: 10px;
    width: 40px;
    height: 2em;
}

.products{
    height: 250px;
    width:300px;
}

.Ref{
    width: 180px;
    border-radius: 20px;
}
.TC{
    border-color: red;
    box-shadow: yellow;
    width: 600px;
    border-width: 25px;
}
.btn-Validar{
    font-family: fantasy;
    color:darkcyan;
    border-radius: 15px;
    border-color: rgba(12, 235, 243, 0.795);
    border-width: 5px;
    width: 100px;
}
.RedesSociales{
    width: 30px;
}

.col{
    columns: 2;
}

#Pagar{
    border-radius: 25px;
    border-color: rgba(12, 235, 243, 0.795);
    border-width: 15px;
    width: 800px;
}

#Comprar{
    border-radius: 25px;
    border-color: rgba(12, 235, 243, 0.795);
    border-width: 15px;
    width: 800px;
}
